.hero {
  position: relative;
  min-height: 90vh;
  padding: 80px 6%;
  background: radial-gradient(circle at right, #1a1a1a, #000000 50%);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: center;
  color: #ffffff;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.1;
}

.hero-content h1 span {
  color: #00e5ff;
}

.hero-content p {
  margin-top: 20px;
  max-width: 550px;
  font-size: 17px;
  color: #d1d5db;
}

.hero-actions {
  margin-top: 35px;
  display: flex;
  gap: 18px;
}

.primary-btn {
  padding: 14px 32px;
  border-radius: 30px;
  border: none;
  background: #00e5ff;
  color: #002b33;
  font-weight: 700;
  cursor: pointer;
}

.secondary-btn {
  padding: 0px 32px;
  margin-top: 15px;
  border-radius: 30px;
  height: 59px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  cursor: pointer;
}

.hero-gallery {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.hero-gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
  filter: grayscale(10%);
  transition: transform 0.4s ease, filter 0.4s ease;
}

.hero-gallery img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

/* Responsive */
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .hero-actions {
    justify-content: center;
  }
}


/* Hero tag Lines */
.hero-tagline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-line-1 {
  font-size: 20px;
  font-weight: 600;
}

.hero-line-2 {
  font-size: 15px;
  color: #d1d5db;
}

/* .explore-collection{
    background-color: rgb(255, 255, 255);
    color: black;
}

.explore-collection:hover{
  background: #00e5ffd6;
  color: white;
  transform: scale(1.05);
} */
.collection:hover{
  background: #ffffff;
  transform: scale(1.01);
}
.highlight:hover{
  background: #ffffff;
  color: black;
  transform: scale(1.01);
}
