*{
    margin: 0;
    padding: 0;
    color: white;
}
body::-webkit-scrollbar{
    display: none;
}
.hover_effect{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 310px;
    height: 350px;
    overflow: hidden;
    transition: 0.7s ease;
}
.hover_effect img{
    width: 100%;
    transition: transform 0.7s ease;

}
.hover_effect img:hover{
    transform: scale(1.1) translateZ(50px);
}
button{
    font-weight: bolder !important;
}